workdir: "/work/qi47rin/proj/02-compost-microbes"
homedir: "/home/qi47rin/proj/02-compost-microbes"

PROJ: "cache/26-compost76-its2-abundances"

REFERENCE: "/home/qi47rin/ref/unite/all_euk9"

FOLDERS:
    raw: "raw/02-compost-its2-spikein-76/00.CleanData/fastq"
    raw_fq_se: "raw/02-compost-its2-spikein-76/00.CleanData/fastq"
    trim_se: "compost-its2-trimmed"
    multiqc: "multiqc-report"
    manifest: "manifest"
    samples_artifact: "samples-artifact"
    reference_artifact: "references-artifact"
    dereplicated: "dereplicated-sequences"
    otu_closed: "closed-otu-picking"
    export: "qiime-exported"
    add_tax: "add-taxonomy-biom"
    abundance: "all-euk-its2-abundances"

IMAGES:
    qiime2: "docker://qiime2/core:2020.8"
    multiqc: "https://depot.galaxyproject.org/singularity/multiqc:1.15--pyhdfd78af_0"
    fastp: "https://depot.galaxyproject.org/singularity/fastp:0.23.4--hadf994f_1"
